In [1]:
import pandas as pd

In [2]:
info_pais = {"pais":["Brasil", "México", "España", "Perú", "Colombia", "Venezuela"],
             "capital":["Brasilia","Ciudad de México","Madrid","Lima","Bogotá","Caracas"],
             "superficie (Mkm2)": [8.5, 1.9, 1.2, 0.5, 1.1,0.9]}

In [3]:
df_pais = pd.DataFrame(info_pais)

In [4]:
df_pais

        pais           capital  superficie (Mkm2)
0     Brasil          Brasilia                8.5
1     México  Ciudad de México                1.9
2     España            Madrid                1.2
3       Perú              Lima                0.5
4   Colombia            Bogotá                1.1
5  Venezuela           Caracas                0.9

In [5]:
df_pais.rename(columns={"pais": "País","superficie (Mkm2)":"Superficie (Mkm_2)"}, inplace=True)

In [6]:
df_pais

        País           capital  Superficie (Mkm_2)
0     Brasil          Brasilia                 8.5
1     México  Ciudad de México                 1.9
2     España            Madrid                 1.2
3       Perú              Lima                 0.5
4   Colombia            Bogotá                 1.1
5  Venezuela           Caracas                 0.9

In [7]:
df_pais = df_pais[["País","Superficie (Mkm_2)","capital"]]

In [8]:
df_pais

        País  Superficie (Mkm_2)           capital
0     Brasil                 8.5          Brasilia
1     México                 1.9  Ciudad de México
2     España                 1.2            Madrid
3       Perú                 0.5              Lima
4   Colombia                 1.1            Bogotá
5  Venezuela                 0.9           Caracas