In [1]:
import pandas as pd

In [2]:
df_ventas = pd.read_csv(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\5.17\Ventas.csv',encoding = "ISO-8859-1",delimiter=';')

In [3]:
df_ventas["Total Venta"]=df_ventas["Total Venta"].apply(lambda x:x.replace(",","."))
df_ventas["Precio Unitario"]=df_ventas["Precio Unitario"].apply(lambda x:x.replace(",","."))
df_ventas["Total Venta"]=pd.to_numeric(df_ventas["Total Venta"])
df_ventas["Precio Unitario"]=pd.to_numeric(df_ventas["Precio Unitario"])

In [38]:
df_1 = df_ventas[df_ventas["Fecha"]=="01/06/2022"]

In [39]:
df_2 = df_ventas[df_ventas["Fecha"]=="01/07/2022"]

In [42]:
df_concatenado = pd.concat([df_1, df_2],ignore_index=True)

In [43]:
df_concatenado

,ID_Pedido,Unidades,Precio Unitario,Total Venta,Fecha,Línea de Producto,Código de Producto,País,Territorio
0,1,62,94.58,5863.96,01/06/2022,Classic Cars,S24_3856,Finland,EMEA
1,12,64,89.12,5703.68,01/06/2022,Motorcycles,S18_3782,Finland,EMEA
2,6,92,88.45,8137.40,01/06/2022,Classic Cars,S12_4675,Finland,EMEA
3,4,68,96.73,6577.64,01/06/2022,Classic Cars,S12_3380,Finland,EMEA
4,3,66,85.39,5635.74,01/06/2022,Classic Cars,S12_1099,Finland,EMEA
5,13,56,58.18,3258.08,01/06/2022,Classic Cars,S18_4721,Finland,EMEA
6,11,48,100.00,8285.28,01/06/2022,Classic Cars,S18_3482,Finland,EMEA
7,5,68,81.62,5550.16,01/06/2022,Classic Cars,S12_3990,Finland,EMEA
8,2,100,100.00,13153.00,01/06/2022,Motorcycles,S32_1374,Finland,EMEA
9,14,86,61.23,5265.78,01/06/2022,Motorcycles,S24_2360,Finland,EMEA
10,1,96,48.28,4634.88,01/06/2022,Motorcycles,S32_2206,France,EMEA
11,10,92,60.30,5547.60,01/06/2022,Classic Cars,S18_3278,Finland,EMEA
12,8,42,100.00,7191.24,01/06/2022,Motorcycles,S24_2000,Finland,EMEA
13,9,86,100.00,10308.82,01/06/2022,Classic Cars,S24_4620,Finland,EMEA
14,15,42,100.00,4895.52,01/06/2022,Classic Cars,S24_3371,Finland,EMEA
15,7,44,100.00,7373.08,01/06/2022,Classic Cars,S18_1889,Finland,EMEA
16,1,60,87.06,5223.60,01/07/2022,Classic Cars,S18_1129,USA,NaN
17,3,44,100.00,6850.36,01/07/2022,Motorcycles,S32_4485,USA,NaN
18,2,88,100.00,9968.64,01/07/2022,Motorcycles,S50_4713,USA,NaN