In [56]:
import pandas as pd
import numpy as np

In [57]:
dic_alumnos = {"Nombre":["Javier", "Marta", "Lucía", "Pedro","Juan","María"],
              "Evaluación Matemáticas":[5,7,8,4,10,np.NaN],
              "Evaluación Lengua":[8,9,7,5,8,6]}

In [58]:
df_alumnos = pd.DataFrame(dic_alumnos)

In [61]:
df_alumnos.head(10)

   Nombre  Evaluación Matemáticas  Evaluación Lengua
0  Javier                     5.0                  8
1   Marta                     7.0                  9
2   Lucía                     8.0                  7
3   Pedro                     4.0                  5
4    Juan                    10.0                  8
5   María                     NaN                  6

In [62]:
df_alumnos.shape

(6, 3)

In [63]:
df_alumnos.index

RangeIndex(start=0, stop=6, step=1)

In [64]:
df_alumnos.columns

Index(['Nombre', 'Evaluación Matemáticas', 'Evaluación Lengua'], dtype='object')

In [65]:
df_alumnos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
Nombre                    6 non-null object
Evaluación Matemáticas    5 non-null float64
Evaluación Lengua         6 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 272.0+ bytes

In [66]:
df_alumnos.count()

Nombre                    6
Evaluación Matemáticas    5
Evaluación Lengua         6
dtype: int64

In [67]:
df_alumnos["Evaluación Matemáticas"].mean()

6.8

In [68]:
df_alumnos["Evaluación Matemáticas"].quantile(0.8)

8.4

In [70]:
df_alumnos["Evaluación Matemáticas"].min()

4.0

In [71]:
df_alumnos["Evaluación Matemáticas"].max()

10.0

In [72]:
df_alumnos.describe()

       Evaluación Matemáticas  Evaluación Lengua
count                5.000000           6.000000
mean                 6.800000           7.166667
std                  2.387467           1.471960
min                  4.000000           5.000000
25%                  5.000000           6.250000
50%                  7.000000           7.500000
75%                  8.000000           8.000000
max                 10.000000           9.000000

# Ejercicio

In [23]:
df = pd.read_csv(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\5.5\PEATONES_2020_mod.csv', encoding = "ISO-8859-1",delimiter=";",index_col=2)

# Información básica Dataframe

In [24]:
df.head()

,FECHA,HORA,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD
IDENTIFICADOR,,,,,,,,,,,
PERM_PEA02_PM01,01/01/2020,0:00:00,497.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:15:00,244.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:30:00,179.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:45:00,174.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"
PERM_PEA02_PM01,01/01/2020,1:00:00,131.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917"

In [25]:
df.shape

(288755, 11)

In [26]:
df.index

Index(['PERM_PEA02_PM01', 'PERM_PEA02_PM01', 'PERM_PEA02_PM01',
       'PERM_PEA02_PM01', 'PERM_PEA02_PM01', 'PERM_PEA02_PM01',
       'PERM_PEA02_PM01', 'PERM_PEA02_PM01', 'PERM_PEA02_PM01',
       'PERM_PEA02_PM01',
       ...
       'PERM_PEA19_PM01', 'PERM_PEA19_PM01', 'PERM_PEA19_PM01',
       'PERM_PEA19_PM01', 'PERM_PEA19_PM01', 'PERM_PEA19_PM01',
       'PERM_PEA19_PM01', 'PERM_PEA19_PM01', 'PERM_PEA19_PM01',
       'PERM_PEA19_PM01'],
      dtype='object', name='IDENTIFICADOR', length=288755)

In [27]:
df.columns

Index(['FECHA', 'HORA', 'PEATONES', 'NÚMERO_DISTRITO', 'DISTRITO',
       'NOMBRE_VIAL', 'NÚMERO', 'CÓDIGO_POSTAL', 'OBSERVACIONES_DIRECCION',
       'LATITUD', 'LONGITUD'],
      dtype='object')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 288755 entries, PERM_PEA02_PM01 to PERM_PEA19_PM01
Data columns (total 11 columns):
FECHA                      288755 non-null object
HORA                       288755 non-null object
PEATONES                   288752 non-null float64
NÚMERO_DISTRITO            284872 non-null float64
DISTRITO                   284872 non-null object
NOMBRE_VIAL                284872 non-null object
NÚMERO                     284872 non-null float64
CÓDIGO_POSTAL              284872 non-null float64
OBSERVACIONES_DIRECCION    284872 non-null object
LATITUD                    284872 non-null object
LONGITUD                   284872 non-null object
dtypes: float64(4), object(7)
memory usage: 26.4+ MB

In [29]:
df.count()

FECHA                      288755
HORA                       288755
PEATONES                   288752
NÚMERO_DISTRITO            284872
DISTRITO                   284872
NOMBRE_VIAL                284872
NÚMERO                     284872
CÓDIGO_POSTAL              284872
OBSERVACIONES_DIRECCION    284872
LATITUD                    284872
LONGITUD                   284872
dtype: int64

# Datos estadísticos Dataframe

In [30]:
df["PEATONES"].sum()

130358649.0

In [31]:
df["PEATONES"].mean()

451.455397711531

In [32]:
df["PEATONES"].median()

373.0

In [33]:
df["PEATONES"].quantile(0.9)

956.0

In [34]:
df["FECHA"].min()

'01/01/2020'

In [35]:
df["FECHA"].max()

'31/05/2020'

In [36]:
df.describe()

            PEATONES  NÚMERO_DISTRITO         NÚMERO  CÓDIGO_POSTAL
count  288752.000000    284872.000000  284872.000000  284872.000000
mean      451.455398         2.648786      27.223181   28010.099557
std       366.229982         2.999406      24.671420       4.296102
min         1.000000         1.000000       1.000000   28001.000000
25%       142.000000         1.000000       4.000000   28005.000000
50%       373.000000         1.000000      22.000000   28012.000000
75%       680.000000         2.000000      37.000000   28013.000000
max      4759.000000        10.000000      91.000000   28015.000000

In [37]:
df["PEATONES_cum"] = df["PEATONES"].cumsum()

In [38]:
df.head()

,FECHA,HORA,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD,PEATONES_cum
IDENTIFICADOR,,,,,,,,,,,,
PERM_PEA02_PM01,01/01/2020,0:00:00,497.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",497.0
PERM_PEA02_PM01,01/01/2020,0:15:00,244.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",741.0
PERM_PEA02_PM01,01/01/2020,0:30:00,179.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",920.0
PERM_PEA02_PM01,01/01/2020,0:45:00,174.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",1094.0
PERM_PEA02_PM01,01/01/2020,1:00:00,131.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,4220090","-3,7008917",1225.0