In [1]:
import pandas as pd

In [20]:
dic = {"ID_Prod":["A","B","C","C","E","A","Sin Catalogar"],
       "Tipo producto":["Pantalón","Pantalón","Camisa","Camisa","Zapato","Pantalón","Zapato"],
       "Color":["Azul", "Verde","Rojo","Morado","Gris","Azul","Verde"]}

In [21]:
df_prod = pd.DataFrame(dic)

In [22]:
df_prod.head(10)

         ID_Prod Tipo producto   Color
0              A      Pantalón    Azul
1              B      Pantalón   Verde
2              C        Camisa    Rojo
3              C        Camisa  Morado
4              E        Zapato    Gris
5              A      Pantalón    Azul
6  Sin Catalogar        Zapato   Verde

In [15]:
df_prod.drop_duplicates(inplace=True)

In [23]:
df_prod.drop_duplicates("ID_Prod",inplace=True)

In [24]:
df_prod

         ID_Prod Tipo producto  Color
0              A      Pantalón   Azul
1              B      Pantalón  Verde
2              C        Camisa   Rojo
4              E        Zapato   Gris
6  Sin Catalogar        Zapato  Verde

In [25]:
import numpy as np

In [26]:
dic = {"ID_Prod":["A","B","C","C","E","A",np.NaN],
       "Tipo producto":["Pantalón","Pantalón","Camisa","Camisa","Zapato","Pantalón","Zapato"],
       "Color":["Azul", "Verde","Rojo","Morado","Gris","Azul","Verde"]}

In [27]:
df_prod2 = pd.DataFrame(dic)

In [28]:
df_prod2

  ID_Prod Tipo producto   Color
0       A      Pantalón    Azul
1       B      Pantalón   Verde
2       C        Camisa    Rojo
3       C        Camisa  Morado
4       E        Zapato    Gris
5       A      Pantalón    Azul
6     NaN        Zapato   Verde

In [29]:
df_prod2.dropna(inplace=True)

In [30]:
df_prod2

  ID_Prod Tipo producto   Color
0       A      Pantalón    Azul
1       B      Pantalón   Verde
2       C        Camisa    Rojo
3       C        Camisa  Morado
4       E        Zapato    Gris
5       A      Pantalón    Azul

In [32]:
df_prod2.drop("Tipo producto",axis=1,inplace=True)

In [33]:
df_prod2

  ID_Prod   Color
0       A    Azul
1       B   Verde
2       C    Rojo
3       C  Morado
4       E    Gris
5       A    Azul

# Ejercicio

In [34]:
df = pd.read_csv(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\5.5\PEATONES_2020_mod.csv', encoding = "ISO-8859-1",delimiter=";",index_col=2)

In [35]:
df.shape

(288755, 11)

In [36]:
df2 = df.drop_duplicates()

In [37]:
df2.shape

(288749, 11)

In [38]:
df3 = df2.dropna()

In [39]:
df3.shape

(284863, 11)

In [43]:
Datos_err = 288749-284863

In [44]:
Datos_err

3886

In [42]:
3886/288749*100

1.3458055265992264