In [1]:
import pandas as pd

In [27]:
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[3, 2, 54, 3, None], 
                   "C":[20, 16, None, 3, 8], 
                   "D":[14, 3, None, None, 6]})

In [12]:
df

      A     B     C     D
0  12.0   3.0  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   NaN   NaN
3   NaN   3.0   3.0   NaN
4   1.0   NaN   8.0   6.0

In [28]:
df_fill = df

In [29]:
df_fill["A"].fillna(df_fill["A"].median(),inplace=True)

In [30]:
df_fill

      A     B     C     D
0  12.0   3.0  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   NaN   NaN
3   4.5   3.0   3.0   NaN
4   1.0   NaN   8.0   6.0

In [8]:
df_interp = df.interpolate(method ='linear', limit_direction ='forward')

In [9]:
df_interp

      A     B     C     D
0  12.0   3.0  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   9.5   4.0
3   3.0   3.0   3.0   5.0
4   1.0   3.0   8.0   6.0